.list-header {
    text-align: center;
    margin: auto;
}

.list-column {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    min-width: 30vh;
    height: 50vh;
    min-height: 200px;
}

.to-do-column{
    background-color: #73B1FF;
}

.doing-column {
    background-color: #F6ADEE;
}

.done-column {
    background-color: #E1F0E1;
}