.item-header {
    margin-left: 15px;
    margin-top: 10px;
}

.task-contents {
    display: inline-block;
    margin: 0 15px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task {
    width: 100%;
    position: relative;
}

.to-do {
    border: 3px solid blue;
    background-color: #1A81FF;
    color: #d9d9ee;
}

.doing {
    border: 2px solid yellow;
    background-color: #d43Fa7;
    color: #e9d9e4
    /* color: #e9c5dd */
}

.done {
    border: 2px solid green;
    background-color: #5dbb61;
    color: #deeeee
    /* color: #dae6db */
}

.action-items {
    margin-top: 10px;
    margin-right: 10px;
}

.edit-action {
    opacity: 0.6;
}

.edit-action:hover {
    opacity: 0.75;
    transform: scale(1.2);
}

.delete-action {
    opacity: 0.6;
}

.delete-action:hover {
    opacity: 0.75;
    transform: scale(1.2);
}